Repository rezalas/riftshadow, pull requests merged in 2023-10, with the labels that each got.

#221 Fixed user facing and comment typos
  code/act_comm.c
  code/act_comm.h
  code/act_info.c
  code/act_move.c
  code/act_obj.c
  code/act_wiz.c
  code/bit.c
  code/bootup.c
  code/cabal.c
  code/characterClasses/ap.c
  code/characterClasses/necro.c
  code/characterClasses/paladin.c
  code/characterClasses/sorcerer.c
  code/characterClasses/thief.c
  code/characterClasses/warrior.c
  code/comm.c
  code/const.c
  code/fight.c
  code/fight.h
  code/handler.c
  code/handler.h
  code/interp2.h
  code/iprog.c
  code/magic.c
  code/merc.h
  code/misc.c
  code/moremagic.c
  code/mprog.c
  code/mspec.c
  code/olc.c
  code/olc_act.c
  code/olc_save.h
  code/prof.c
  code/recycle.c
  code/recycle.h
  code/rprog.c
  code/scan.c
  code/skills.c
  code/skills.h
  code/string.c
  code/string.h
  code/strings.c
  code/titles.c
  code/utility.c
  cspell.json
Labels: characters, core

#225 Fix the dev DB installation/restoration blunder
  db/README.md
  db/rift.sql
  db/rift/data/setup.sql
  db/rift/tables/setup.sql
  db/rift_core.sql
  db/rift_core/data/setup.sql
  db/rift_core/tables/setup.sql
  db/setup.sql
  dev-install.sh
Labels: setup, dev-install, db, db-rift, db-rift-core

#230 Moved dump files to proper directory
  code/db.c
  code/rift.h
  logs/mem.dmp
  logs/mob.dmp
  logs/obj.dmp
Labels: core

#235 Combine configs into one file
  .gitignore
  area/rs.conf
  code/bootup.c
  code/mud.h
  config.json.example
Labels: core, areas

#236 Fix login banner
  code/bootup.c
  code/mud.c
Labels: core

#238 Consolidate logging
  code/act_comm.c
  code/act_move.c
  code/act_obj.c
  code/bootup.c
  code/comm.c
  code/db.c
  code/db.h
  code/devextra.c
  code/fight.c
  code/interp.c
  code/main.c
  code/olc_save.c
  code/save.c
  code/update.c
Labels: core

#239 Better SQL Scaffolding Support for Vagrant and non-Vagrant development environments
  db/README.md
  db/rift_core.sql
  db/setup-vagrant.sql
  db/setup.sql
  dev-install.sh
Labels: setup, dev-install, db
